version: "3.9"
services:
  postgres:
    image: postgres:15
    container_name: etl_postgres
    environment:
      POSTGRES_PASSWORD: etl_pass
      POSTGRES_USER: etl_user
      POSTGRES_DB: etl_warehouse
    ports: ["5433:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:

